<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/ankit--nautiyal/" target="_blank" rel="noopener noreferrer" >  <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/ankit-nautiyal" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-square-github"></i></a>
            <a href="https://x.com/ankit_nautiyal3" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/ankit_nautiyal" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/ankit.nautiyal03" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-square-facebook"></i></a>
            
        </div>
        <div class="f-info-brand">&copy;2024 Airbnb, Inc.</div>
        <div class="f-info-links">
            <a href="/privacy"> &nbsp; Privacy ⋅ &nbsp;</a>
            <a href="/terms">Terms ⋅ &nbsp;</a>
            <a href="/sitemap">Sitemap ⋅ &nbsp;</a>
            <a href="/company-details">Company details</a>
        </div>
        <p> Made with ❤️ by <a href="https://www.linkedin.com/in/ankit--nautiyal/" target="_blank">Ankit Nautiyal</a></p>

    </div>
</footer>