<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2"> <br><br>
            
                <h3>Create New Listing:</h3>
                <form method="post" action="/listings" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter a catchy title" class="form-control" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please enter a valid title!</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="listing[description]" placeholder="Enter description" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid description!</div>
                    </div>
            
                    <div class="mb-3">
                        <label for="image" class="form-label">Enter image URL/Link</label>
                        <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control">
                        <div class="valid-feedback">WanderLust will use default image if you don't upload one</div>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Enter price</label>
                            <input type="number" name="listing[price]" placeholder="E.g.: 1,200" class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid price!</div>
                        </div>
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Enter country</label>
                            <input type="text" name="listing[country]" placeholder="E.g.: India" class="form-control" required pattern="[A-Za-z\s]+">
                            <div class="invalid-feedback">Please enter a valid Country name!</div>
                        </div>
                    </div>
                    
                    <div class="mb-3  ">
                        <label for="location" class="form-label">Enter location</label>
                        <input type="text" name="listing[location]" placeholder="E.g.: Jaipur, Rajasthan" class="form-control" required pattern="^(?=(.*[A-Za-z]){3,})([A-Za-z0-9\s,]*)$">
                        <div class="invalid-feedback">Please enter a valid location!</div>
                    </div>
                    
                    <button class="btn btn-dark add-btn mt-3">Submit</button>
                    <br><br>
                </form>
        </div>
    </div>
</body>
